.MenuCabecera{
    background-color: #a4cdd9;
    width: 100%;
}
*{
    margin: 0%;
    padding: 0%;
}
.banner{
    background-image: url(../imagenes/2803973_402900-PD5O7L-766\ copy.jpg);
    width: 100%;
    height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}
.cajacolumnas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
.columnas{
    flex: 1;
   background-color: rgb(26, 248, 56);
   border: 1px;
   text-align: center;
}
.colorverde{
    background-color: green;
    height:150px;
}
.colornaranja{
    background-color: orangered;
    height: 150px;
}
.colorazul{
    background-color: blue;
    height: 150px;
}
.final{
    background-color: rgb(171, 96, 66);
    width: 100%;
    height: 120px;
}
.MenuSuperior li{
    display: inline;
    padding: 5px;
    border-right: solid 2px black;
}
.MenuSuperior{
    text-transform:uppercase;
    font-weight: bold;
    text-align: right;
    padding: 20px;
}
.MenuSuperior li a:hover{
    color:#e2430c ;
    background-color: #73A9B8;
    text-decoration: underline;
}
li a{
    text-decoration: none;
}
.MenuSuperior li:last-child{
    border-right: none;
}