.MenuCabecera{
    background-color: #a4cdd9;
    width: 100%;
}
*{
    margin: 0%;
    padding: 0%;
}
.banner{
    background-image: url(../imagenes/2803973_402900-PD5O7L-766\ copy.jpg);
    width: 100%;
    height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}
.cajacolumnas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
.cajacolumnas img{
    width: 100%;
    height: 300px;
}
.columnas{
    flex: 1;
   background-color: rgb(26, 248, 56);
   border: 1px; 
   text-align: center;
}
.colorverde{
    background-color: green;
    height:150px;
}
.colornaranja{
    background-color: orangered;
    height: 150px;
}
.colorazul{
    background-color: blue;
    height: 150px;
}
.final{
    background-color: #9a9ebc;
    width: 100%;
    height: 130;
}
.MenuSuperior li{
    display: inline;
    padding: 5px;
}
.MenuSuperior{
    text-transform:uppercase;
    font-weight: bold;
    text-align: right;
    padding: 4px;
}
.bordederecho li{
    border-right: 1px solid black;
}
.MenuSuperior li a:hover{
    color:#e2430c ;
    text-decoration: underline;
}
li a{
    text-decoration: none;
}
.MenuSuperior li:last-child{
    border-right: none;
}
.formulario{
    width:80% ;
    margin: auto;
}
form{
    padding: 15px;
}
input[type=text]{
    width:100% ;
    height: 15px;
    border-radius:15px ;
}
textarea{
    width: 100%;
    height: 120px;
}
input[type=submit]{
    width: 100%;
    background-color: rgb(20,200,30,0.3);
    padding: 10px;
    color: orangered;
}
input[type=submit]:hover{
    background-color: rgb(20,200,30,0.8);
    cursor: pointer;
}
li a img{
    width: 32px;
}
li a img:hover{
    opacity: 30%;
}
.derechos{
    padding: 15px;
}